h1, h2, h3, p{
  font-family: Helvetica;
}
h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
strong{
    font-weight: bold;
  color: blue;
}
#brushes h2{
  background-color: mediumspringgreen
}
#frames h2{
  background-color: lightcoral;
}
#paint h2{
  background-color: skyblue;
}
